
<div class="card" style="width: 18rem;">
    <img src="~/img/@ViewBag.Picture" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@ViewBag.Name</h5>
        <p class="card-text">@ViewBag.Price</p>
        <p class="card-text">@ViewBag.Description</p>
        <a href="#" class="btn btn-primary">Buy</a>
    </div>
</div>

